BookingServiceLibrary/BookingTestConsole/Service References/BookingServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookingServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookingServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventStopTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingData" nillable="true" type="tns:BookingData" />
  <xs:complexType name="ArrayOfBookingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingData" nillable="true" type="tns:BookingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingData" nillable="true" type="tns:ArrayOfBookingData" />
</xs:schema>