BookingServiceLibrary/BookingTestConsole/Service References/BookingServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Booking/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookingServiceLibrary" />
  <xs:element name="MakeBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookingServiceLibrary" minOccurs="0" name="data" nillable="true" type="q1:BookingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBookingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBookingsFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="when" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBookingsFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookingServiceLibrary" minOccurs="0" name="ViewBookingsFromResult" nillable="true" type="q2:ArrayOfBookingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>